# Environment
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
data/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# FAISS index (regenerate from source)
faiss_index/
*.faiss
*.pkl
data/vector_store/f233218e-69d3-4f69-8b52-bbee0decbce0/data_level0.bin
data/vector_store/f233218e-69d3-4f69-8b52-bbee0decbce0/length.bin
data/vector_store/chroma.sqlite3
